<div class="main-container">
  <div class="login">
    <div class="form-title">{{ loginSignal() }}</div>
    <form
      action=""
      method="post"
      [formGroup]="userDataForm"
      (ngSubmit)="formHandler()"
    >
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-Mail..."
        formControlName="userEmail"
      />
      <input
        type="password"
        id="password"
        name="password"
        formControlName="userPassword"
        placeholder="Password..."
      />
      @if (loginSignal() === "Sign up") {
      <input
        type="password"
        id="password"
        name="password"
        formControlName="confirmPassword"
        placeholder="Confirm Password..."
      />
      <input
        type="text"
        name="fullName"
        id="fullName"
        formControlName="userFullName"
        placeholder="Full Name"
      />
      }
      <button type="submit">
        {{ loginSignal() }}
      </button>
    </form>
  </div>
</div>
